:root {
	--minWidth: 320px;
	--maxWidth: 1440px;
	--maxWidthContainer: 1230px;

	--font-family: "Inter", sans-serif;
	--second-family: "Forum", serif;
	--color: #000;
	--color-light: #fff;
	--color-dark: #0c0c0e;
	--color-focus: ;
	--color-hover: #bb945f;
	--color-active:#B0854B;
	--placeholder-color: #8e8e8e;
	--bg-color-light: #fff;
	--bg-color-dark: #0c0c0e;
	--bg-color-hover:#bb945f;
	--border-color:#0c0c0e;
	--border-color-hover:#bb945f;
	--border-color-active:#B0854B;
}

@font-face {
	font-family: "Inter";
	src:
		url("../fonts/Inter-Regular.woff2") format("woff2"),
		url("../fonts/Inter-Regular.woff") format("woff"),
		url("../fonts/Inter-Regular.ttf") format("truetype");
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "Inter";
	src:
		url("../fonts/Inter-Bold.woff2") format("woff2"),
		url("../fonts/Inter-Bold.woff") format("woff"),
		url("../fonts/Inter-Bold.ttf") format("truetype");
	font-display: swap;
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Forum";
	src:
		url("../fonts/Forum-Regular.woff2") format("woff2"),
		url("../fonts/Forum-Regular.woff") format("woff"),
		url("../fonts/Forum-Regular.ttf") format("truetype");
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}


body {
	font-family: var(--font-family);
	/* background-color: var(--bg-color-primary); */
	background-color: #8e8e8e;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	overflow: clip;
}

.main {
	flex: 1 1 auto;
}

[class*="__container"] {
	max-width: 800px;
	/* max-width: var(--maxWidth); */
	margin: 0 auto;
	padding: 0px 20px;
}

/* 			LOGO			 */

.logo {
	font-family: var(--second-family);
	font-size: 3rem;
	letter-spacing: 0.02em;
	line-height: 1.66667;
	color: var(--color-light);
	transition: color .2s ease;
}
.logo:hover{
	color: var(--color-hover);
}
.logo:active{
	color: var(--color-active);
}

/* 			BUTTON			 */

.btn{
	display: inline-block;
	padding: 9px 26px;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-align: center;
	color: var(--color-dark);
	border: 1px solid var(--border-color);
	border-radius: 0.2rem;
	outline: 1px solid transparent;
	/* outline-offset: 1px; */
	transition: background-color .3s, outline-color .3s;
}
.btn:focus-visible{
	outline-color: var(--color);
}
.btn:hover{
	background-color: var(--bg-color-hover);
	border: 1px solid var(--border-color-hover);
}
.btn:active{
	background-color: var(--color-active);
	border: 1px solid var(--border-color-active);
}

/* 			TITLE			 */

.title{
	position: relative;
	font-family: var(--second-family);
	font-size: 4rem;
	line-height: 1;
	letter-spacing: 0.05em;
	text-transform: capitalize;
	text-align: center;
	color: var(--color-dark);
}
.title::after{
	content: "";
	position: absolute;
	bottom: -20px;
	left: 50%;
	width: 4rem;
	height: 1px;
	background-color: var(--color-dark);
}

/* 			HEADER			 */

.header {
	background: #0c0c0e;
}


.nav {
	background: #0c0c0e;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	/* gap: 40px; */
}

.nav__list {
	width: 100%;
	display: flex;
	justify-content: space-between;
	/* gap: 30px; */
}

.nav__item {
	line-height: 250%;
	color: #fff;
	transition:
		color 0.2s,
		scale 0.2s;
}

.profile-icon {
	width: 28px;
	height: 28px;
	align-self: center;
	fill: #fff;
	transition:
		color 0.2s,
		scale 0.2s;
}

@media (max-width:768px){

}

.hide {
	display: none;
}
